body{
    background-color: purple;
}

.wrapper{
    max-width: 1024px;
    height: 100vh;
    display: flex;
    margin: 0 auto;
    background-color: red;

    justify-content: center;
    align-items: center;

}

.control_buttons_div{
    background: crimson;
    height: 480px;
    width: 480px;
    
    display: flex;
    justify-content: center;
}

#puzzle_canvas{
    background: green;
    height: 480px;
    width: 480px;
}

.basic_button{
    font-size: 28px;
    font-family: 'Quicksand', sans-serif;
    background: rgba(0, 0, 0, 0);
    color: white;
    border: 2px solid white;
    width: 250px;
    height: 42px;
}