body{
    background: url(../assets/images/08.jpg) center center / cover no-repeat, linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.5));
}

.wrapper{
    max-width: 1024px;
    height: 100vh;
    display: flex;
    margin: 0 auto;

    justify-content: center;
    align-items: center;

}

.control_buttons_div{
    
    height: 480px;
    width: 480px;
    
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}


.canvas_div{
  max-width: 480px;
  display: flex;
  flex-wrap: wrap-reverse;
}

.time{
  color: wheat;

  font-size: 1.75rem;
}

#puzzle_canvas{
    height: 480px;
    width: 480px;
}

.basic_button{
    font-size: 28px;
    font-family: 'Quicksand', sans-serif;
    background: rgba(0, 0, 0, 0);
    color: white;
    border: 2px solid white;
    width: 250px;
    height: 42px;
}

.basic_button:focus:not(:active){
    animation: circleGrow 0.3s linear;
  }

@keyframes circleGrow {
    0% {
      transform: scale(0.8);
      opacity: 0;
    } 
    20% {
      opacity: 1;
    }
    100% {
      transform: scale(1);
    }
}

/* popup */
#popup_div{
  position: fixed;
  display: flex;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 200px;
  height: 50px;
  box-shadow: 0px 2px 35px 14px rgba(13, 13, 13, 0.04);
  z-index: 6;

  background-color:rgb(83, 22, 3);
  font-size: 30px;
  justify-content: center;
  align-items: center;
  color: wheat;
}